.image-to-show {
    width: 400px;
    height: 400px;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  body{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .image-to-show {
    display: none;
    animation: fadeOut 480ms linear;
    width: 350px;
    height: 350px;
  }

  .btn {
    width: 17%;
    display: flex;
    justify-content: space-between;
  }

  .mirror{
    animation: fadeIn 500ms linear;
  }

  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
